[Desktop Entry]
Type=Application
Exec=rescuetime
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Rescuetime
Name=Rescuetime
Comment[en_US]=
Comment=
